* {
	margin: 0 auto;
}

body {
	background-color: #F8F8FF;
}

header {
	border-bottom: 1px solid #000;
	padding: 30px;
	text-align: center;
}

h1{
	border: 1px solid #000;
	display: inline-block;
	font-family: 'Cutive Mono', monospace;
	font-size: 25px;
	padding: 5px 10px;
	text-transform: uppercase;
}

img {
	padding: 30px
}